@font-face {
    font-family: klavika-bold;
    src: url('./assets/font/klavika-bold-webfont.woff');
}

@font-face {
    font-family: klavika-light;
    src: url('./assets/font/klavika-light-webfont.woff');
}

@font-face {
    font-family: klavika-medium;
    src: url('./assets/font/klavika-medium-webfont.woff');
}

@font-face {
    font-family: klavika-regular;
    src: url('./assets/font/klavika-regular-webfont.woff');
}

.main {
    width: auto;
    height: 100%;
}

footer {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    z-index: 3;
}

.container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}

section {
    min-width: 100vh;
    height: 100%;
    background-color: black;
    z-index: -1;
}

.monk-loading-container {
    position: fixed;
    z-index: 10;
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
    font-family: klavika-light;
}

.monk-loading {
    transform: translatey(0px);
	animation: float 2s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.text {
    font-family: klavika-regular;
    font-size: 4rem;
}

.text span {
    box-shadow: inset 0 0px 0 white, inset 0px -1px 0 white;
}

.fix-underline {
    align-items: flex-start;
}

.hide {
    opacity: 0;
    transition: all 1s;
}

.remove {
    display: none!important;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex--column {
    display: flex;
    flex-direction: column;
}

.space-up {
    position: absolute;
    bottom: 6rem;
}

.space-right {
    margin-left: 2rem;
    align-items: center;
    display: flex;
}

.flex-align {
    display: flex;
    align-items: center;
}

.arrow-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.arrow-container > * {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.arrow {
    width: 35px;
    cursor: pointer;
}

section .text {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    top: 1rem;
    position: relative;
    right: 2rem;
}

section .rrss {
    position: relative;
    align-items: flex-end;
    top: 40%;
    right: 2rem;
    text-align: right;
}

.rrss > *:first-child {
    margin-bottom: 2rem;
}

.box-container {
    height: 20px;
    width: 200px;
    border: 1px solid;
    border-style: dotted;
    display: flex;
}

.box-container > * {
    border-right: 1px solid;
    border-style: dotted;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #ffffff00;
}

.box-container > *:hover {
    transition: all 0.2s;
    background-color: white;
}

.box-container .active {
    background-color: white;
}

.box-container > *:last-child {
    border-right: 0px solid;
    border-style: dotted;
}

[data-msg] {position: absolute;}

[data-msg='0'] {
    top: 2rem;
    left: 2rem;
   align-items: flex-start;
}
[data-msg='1'] {
    top: 45vh;
    left: 10%;
   align-items: flex-start;
}
[data-msg='2'] {
    top: 45vh;
    left: 10%;
   align-items: flex-start;
}
[data-msg='3'] {
    top: 45vh;
    right: 10%;
    align-items: flex-end;
}
[data-msg='4'] {
    top: 45vh;
    right: 10%;
    align-items: flex-end;
}
[data-msg='5'] {
    top: 45vh;
    right: 10%;
    align-items: flex-end;
}
[data-msg='6'] {
    top: 45vh;
    left: 10%;
   align-items: flex-start;
}
[data-msg='7'] {
    top: 45vh;
    left: 10%;
   align-items: flex-start;
}
[data-msg='8'] {
    top: 45vh;
    left: 10%;
   align-items: flex-start;
}
